@import url('./common_frontend.css');

section, article {
    margin-bottom: 40px;
}

/* INICIO BLOQUE ABOUT ME DE LA SECCIÓN */

.about-me{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap:30px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--color-border);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Efecto fade-in para la imagen de .img-about-me */
.img-about-me img {
    opacity: 0;
    animation: fadeInImgAboutMe 4s ease forwards;
}

@keyframes fadeInImgAboutMe {
    from { opacity: 0; }
    to { opacity: 1; }
}

.about-me-text{
    font-size: var(--font-size-base);
    color: var(--color-text-primary);
    width: 100%;
    text-align: left;
}

.about-me-text h2{
    font-size: var(--font-size-3xl);
    margin-bottom: 10px;
    color: var(--color-primary);
}

.about-me-text h3{
    font-size: var(--font-size-xl);
    margin-bottom: 15px;
    color: var(--color-tertiary);
}

@media (max-width: 768px) {
    .about-me{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .about-me-text{
        width: 100%;
    }
    .about-me-text h2, .about-me-text h3{
        width:100%;
        text-align: center;
    }
}

/* FIN DEL BLOQUE ABOUT ME DE LA SECCIÓN */


/* INICIO BLOQUE EXPERIENCIA DE LA SECCIÓN */

/* FIN BLOQUE EXPERIENCIA DE LA SECCIÓN */


/* INICIO BLOQUE EDUCACIÓN DE LA SECCIÓN */

/* FIN BLOQUE EDUCACIÓN DE LA SECCIÓN */


/* INICIO BLOQUE VALORES DE LA SECCIÓN */

/* FIN BLOQUE VALORES DE LA SECCIÓN */